<div class="container">
  <div class="component-container">
    <h1 class="title">Integrantes</h1>
    <div class="product-container">
      <div class="card-container" *ngFor="let person of personas">
        <mat-card class="card">
          <mat-card-title class="card__title">
            <h3 class="card__title-text">
              <a class="card__title-link" [title]="person.name + 'detalles'">
                {{ person.name }}
              </a>
            </h3>
          </mat-card-title>
          <mat-card-content class="card__content">
            <img
              class="photo"
              [src]="person.photo"
              [alt]="person.name"
              width="200px"
              height="200px"
            />
            <br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
