<div class="navbar">
    <a class="navbar__logo" routerLink="">Integrador</a>
    <mat-icon (click)="toggleNav()" class="navbar__abrir-menu">menu</mat-icon>
    <nav class="navbar__nav" [ngClass]="{'navbar__nav--visible': isNavVisible}">
      <mat-icon (click)="toggleNav()" aria-hidden="false" fontIcon="close"></mat-icon>
      <ul class="navbar__nav-list">
        <li class="navbar__nav-list__item">
            <a routerLink="randomRecipe">
                <img class="navbar__nav-list__item__icon" src="../../../assets/img/food.png" alt="Icono" />
                receta aleatoria
            </a>
        </li>
      </ul>
    </nav>
</div>
